fn conf_enable_goralog {
    enable_goralog=yes
    conf_enable_app goralog
    if(~ $"conf_blog_editors '')
        conf_blog_editors=blog-editors
    if(~ $"conf_blog_title '')
        conf_blog_title='Blog'
}

fn goralog_init {
    if (! ~ $#enable_goralog 0 ) {
        dirUsed=`{basename -d $req_path}
        if (! ~ $dirUsed */ && ~ $#conf_blog_email_included 0) {
            ll_add handlers_body_foot template apps/goralog/foot.tpl
        }
        if (~ $#dirUsed 0)
            dirUsed='/'
        if (check_user $conf_blog_editors) {
            editor_mode=on
            ll_addh handlers_bar_left echo '<a href="'$dirUsed'/new_post">Make a new post</a>'
        }
        if (~ $req_path $dirUsed^'/new_post' && ! ~ $#editor_mode 0) {
            handler_body_main=( tpl_handler `{get_lib_file goralog/new_post.tpl apps/goralog/new_post.tpl} )
            if (~ $REQUEST_METHOD POST) {
                post_arg_body=`{cat /tmp/$post_arg_body | dos2unix}
                post_arg_title=`{cat /tmp/$post_arg_title | dos2unix}
                post_arg_description=`{cat /tmp/$post_arg_description | dos2unix}
                post_arg_filename=`{cat /tmp/$post_arg_filename | dos2unix}
                post_arg_date=`{cat /tmp/$post_arg_date | dos2unix}
                if(mkbpost $"post_arg_body $"post_arg_date $"post_arg_title $"post_arg_description $"post_arg_filename)
                    post_redirect $dirUsed
                if not
                    notify_errors=$status
            }
        }
        fn dir_listing_handler {
            d=`{basename -d $1}
            if(~ $#d 0)
                d='/'
            #get_sorted_stuffs_from_directory 
            recexpr='goralog_base_dir = '''^$dirUsed^''''
            stats=`{recsel -t Metadata -e $recexpr -c $metadatadb}
            echo '<div style="text-align:right;">(<a href="index.rss">RSS Feed</a>)</div><h1 class="goralog-dir-list-title">'$"conf_blog_title'</h1><p>Proudly featuring '$stats' posts!</p><ul class="goralog-dir-list">'
            a=`{recsel -t Metadata -e $recexpr -S date -p description,title,filename,date $metadatadb | tac | sed 's|sites/|https://|g;s|.md||g;s|.tpl||g;s|.html||g' | recfmt -f apps/goralog/template.templ}
            echo $a;
            echo '</ul>'
        }
    }
    # Not smart. Only matches against end of url. Technically a blog post/index.rss matches too
    # Maybe should match against top level?
    # Maybe shouldn't. Can symbolically link documents into category folders and generic index.rss this way for categories
    #if (~ $req_path */index.rss) {
    #    goralog_setup_feed_handlers rss202.tpl 'text/xml; charset=utf-8'
    #}
    if (~ $req_path */index.rss) {
        goralog_setup_feed_handlers rss203.tpl 'text/xml; charset=utf-8'
    }
}

fn get_sorted_stuffs_from_directory {
    files=`{ls -F $dir_listing_ls_opts $sitedir$d/. | grep '\[*]*(md|/)$' | sed $dirfilter$dirclean's:/$::'}
    # Have to make N calls to load metadata. Inefficient. Is there a better way?
newStuffs='
'
    for (file in $files) {
        metadata=`{get_metadata_from_file $file}
        newStuffs=($newStuffs $metadata '
')
    }
     oldifs=$ifs;
     ifs='
';
     sortedStuffs=`{echo $newStuffs | sort -k 1.1,1.4 -k 1.5,1.6 -k 1.7,1.8 -r}
     ifs=$oldifs;
}

fn goralog_setup_feed_handlers {
    handler_body_main=NOT_USED
    res_tail=()
    http_content_type=$2
    headers=()
    master_template=apps/goralog/$1
}

fn mkbpost {
    bptext=$1;
    bpdate=`{echo $2 | sed 's/''/''''/g'};
    bptitle=`{echo $3 | sed 's/''/''''/g'};
    bpdescription=`{echo $4 | sed 's/''/''''/g'};

    # Need to clean filename of bad chars
    bpfilename=`{echo $5 | sed 's:/:_:g' | sed 's:\0:_:g'};

    if (~ $"bptext '')
       _status=($_status 'You need to provide a post body.')
    if (~ $"bptitle '')
       _status=($_status 'You need to provide a post title.')
    if (~ $"bpdescription '')
       _status=($_status 'You need to provide a post description')
    if (~ $"bpfilename '')
       _status=($_status 'You need to provide a filename')
    switch($"bpfilename){
    case .
       _status=($_status 'Illegal filename')
    case ..
       _status=($_status 'Illegal filename')
    case ...
       _status=($_status 'Illegal filename')
    case ....
       _status=($_status 'Illegal filename')
    }
    if (test -f $sitedir$dirUsed/$"bpfilename)
       _status=($_status 'This filename has been used before, use a different one!')
    if (! ~ $"bpdate [0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]) {
       _status=($_status 'Invalid date. Check format. '^$"bpdate)
    }
    bpfilename=$bpfilename.md
    if (~ $#_status 0) {
        echo '<!---METADATA
title='^$bptitle^'
date='^$bpdate^'
description='^$bpdescription^'
goralog_base_dir='^$dirUsed^'
--->
'^$bptext > $sitedir$dirUsed/$bpfilename
        prepare_metadata $sitedir$dirUsed/$bpfilename
# Need to sort out creating the files
    }
    status=$_status
}

fn get_metadata_from_file {
    # If you want to convert from the previous version to the new version...
    # Uncomment the 5 lines for the .meta files up to prepare_metadata
    # You should then remove these 5 lines because they are a little bit slow...

    filename=`{basename $1}
    #. $1.md.meta
    #a=`{prepare_metadata $1.md}
    #a=`{set_metadata title $"title $1.md}
    #a=`{set_metadata description $"description $1.md}
    #a=`{set_metadata date $"date $1.md}
    #a=`{set_metadata goralog_base_dir $"dirUsed $1.md}
    #prepare_metadata $1.md

    date=`{get_metadata date $1.md};
    title=`{get_metadata title $1.md};
    description=`{get_metadata description $1.md};
    metadata=($"date^'|'^$"title^'|'^$filename^'|'^$"description^'|'^$1.md'|');
    echo $metadata
}
