<item>
    <title>{{title}}</title>
    <author>risingthumb@risingthumb.xyz (Aaron Leonard)</author>
    <link>{{filename}}</link>
    <guid isPermaLink="true">{{filename}}</guid>
    <pubDate>{{date}}</pubDate>
    <description>{{description}}</description>
</item>
