<li class="goralog-article-box">
<div class="goralog-date">{{date}}</div>
<div class="goralog-title">
<a href="{{filename}}">{{title}}</a></div>
<div class="goralog-article-description">{{description}}</div></li>
